{% extends "layout.html" %}
{% block content %}
    <h1>Yai About Page hai</h1>
    <p>
        <strong>Choroba:</strong> Mausam kuch nahi hai, pata hai, mausam kuch nahi hai.
        <br>
        <strong>Solution:</strong> Dhoniya kuch nahi hai, pata hai, dhoniya kuch nahi hai.
        <br>
        <strong>Reason:</strong> Maahine hai, maahine hai, maahine hai.
        <br>
        <strong>Conclusion:</strong> Kuch nahi hai duniya mai, pata hai, kuch nahi hai duniya mai.
    </p>
{% endblock content %}